{% extends 'store/base.html' %}

{% block title %}
Products
{% endblock %}

{% block body %}
<!-- all product listed -->
<section class="bg-white py-24">
    <div class="container mx-auto px-6">

        <!-- Section Heading -->
        <div class="text-center mb-14">
            <h2 class="text-3xl md:text-4xl font-extrabold text-gray-900">
                Our Popular <span class="text-yellow-500">Food Kits</span>
            </h2>
            <p class="mt-4 text-gray-600 max-w-2xl mx-auto">
                Discover our best-selling food kits made with premium fruits,
                vegetables, herbs, spices, and pure honey for healthy daily cooking.
            </p>
        </div>

        <!-- Product Grid -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">

            <!-- Product Card -->
            {% for product in products %}
            <div class="group bg-white rounded-2xl shadow-md hover:shadow-xl transition overflow-hidden">
                <div class="relative h-56 overflow-hidden">
                    <img src="{{ product.image_1.url }}"
                        class="w-full h-full object-cover group-hover:scale-110 transition duration-300" alt="Food Kit">
                </div>

                <div class="p-5">
                    <p class="text-xs text-gray-500 uppercase tracking-wider">
                        {{product.category.name}}
                    </p>
                    <h3 class="text-lg font-semibold text-gray-900 mt-1">
                        {{product.name|title}}
                    </h3>

                    <div class="flex items-center justify-between mt-4">
                        <span class="text-lg font-bold text-gray-900">₹{{product.price}} / {{product.weight}}</span>
                        <a href="{% url 'product_detail' product_id=product.id %}" class="text-sm text-yellow-600 font-medium hover:underline">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
        {% if products.has_other_pages %}
        {% if products.has_previous %}
        <a href="?page={{ products.previous_page_number }}">Previous</a>
        {% endif %}

        Page {{ products.number }} of {{ products.paginator.num_pages }}

        {% if products.has_next %}
        <a href="?page={{ products.next_page_number }}">Next</a>
        {% endif %}
        {% endif %}
    </div>
</section>

<!-- all product listed -->
{% endblock %}